<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="css/flowbite.css">
   <link rel="stylesheet" href="css/output.css">
   <link rel="stylesheet" href="css/main.css">
   <script src="js/flowbite.js"></script>
   <title>Admin</title>
</head>

<body>

   <% var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]; %>
   
<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
   <span class="sr-only">Open sidebar</span>
   <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
   </svg>
</button>

<aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
   <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
      <ul class="space-y-2 font-medium">
         <%- include('menu_items/dash_button.ejs') %>
         <%- include('menu_items/approve_button.ejs') %>
         <%- include('menu_items/manage_button_act.ejs') %>
         <%- include('menu_items/users_button.ejs') %>
         <%- include('menu_items/sign_out.ejs') %>
      </ul>
   </div>
</aside>

<div class="grid 2xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-10 justify-around sm:ml-80 mt-16 mx-8">

   <% for(var i = 0; i < EventData.length; i++) {%> 
     <% var date = new Date(EventData[i].startdate) %> 
     <% var month = date.getMonth() %> 
     <% var day = date.getDate() %> 
     <% var title = EventData[i].event_title %> 
     <% var description = EventData[i].description %> 
     <% var location = EventData[i].venue %> 
     <% var banner_image = EventData[i].banner_image.url %>
     <% var price = EventData[i].ticket_price %> 
     <% var id = EventData[i]._id %> 
    
    <div class="max-w-sm rounded-xl overflow-visible bg-transparent">
      <img class="w-full h-52 object-cover rounded-2xl" src="<%= banner_image %> "
        alt="">
      <div class="px-6 py-4 rounded-2xl bg-white cardText grid grid-cols-12">
        <div class="col-span-2 mr-2">
          <div class="text-blue-900 text-sm text-center font-semibold"><%= monthNames[month] %> </div>
          <div class="text-4xl text-center font-bold"><%= day  %> </div>
        </div>
        <div class="col-span-10 h-[8rem] overflow-hidden">
          <div class="font-bold text-lg"> <%= title %> </div>
          <div class="text-gray-500"> <%= description %>  </div>
          
        </div>
        <button data-modal-target="defaultModal-<%= i %> " data-modal-toggle="defaultModal-<%= i %>" class="block col-span-5 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
         Expand
       </button>
       <div id="defaultModal-<%= i %>" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
         <div class="relative w-full max-w-6xl bg-white">
             <!-- Modal content -->
             <%- include('event_modal.ejs', {title, description, location, date, banner_image, price, id}) %> 
         </div>
     </div>
      </div>
    </div>
    <% }%> 
  </div>

</body>

</html>