<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="css/flowbite.css">
   <link rel="stylesheet" href="css/output.css">
   <link rel="stylesheet" href="css/main.css">
   <script src="js/flowbite.js"></script>
   <title>Admin</title>
</head>

<body>

   
<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
   <span class="sr-only">Open sidebar</span>
   <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
   </svg>
</button>

<aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
   <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
      <ul class="space-y-2 font-medium">
         <%- include('menu_items/dash_button.ejs') %>
         <%- include('menu_items/approve_button.ejs') %>
         <%- include('menu_items/manage_button.ejs') %>
         <%- include('menu_items/users_button_act.ejs') %>
         <%- include('menu_items/sign_out.ejs') %>
      </ul>
   </div>
</aside>

<div class="sm:ml-64">
   <% for( let i = 0; i < userData.length; i++ ) { %>
      <div class="flex justify-between items-center bg-[#dcd9d5] m-5">
         <div> 
            <div><%= userData[i].fullname %></div>
            <div>User ID: <%= userData[i].uid %></div>
         </div>
         <form action="/admin/users/delete" method="post" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="uid" value="<%= userData[i].uid %>">
            <button type="submit">Delete</button>
         </form>
      </div>
   <% } %>
</div>

</body>

</html>